body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

#wrapper {
    width: 785px;
    height: 200px;
    overflow: auto;
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
  }

  table th {
    /* Apply both top and bottom borders to the <th> */
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
  }

  table th:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }

  table tbody tr td:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  table th:nth-child(2) {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  table tbody tr td:nth-child(2) {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  table th div {
    width: 150px;
  }

  table td {
    /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
    border-bottom: 2px solid;
    border-right: 2px solid;
  }

  table th:first-child,
  table td:first-child {
    /* Apply a left border on the first <td> or <th> in a row */
    border-left: 2px solid;
  }

  table thead th {
    position: sticky;
    top: 0;
    background-color: #edecec;
  }

  table th, table td {
    background-color: #fff;
  }